@import "../../style";

.select-loaction {
  display: flex;
  align-items: flex-end;
  font-size: 1.5em;
  white-space: nowrap;
  margin-bottom: 1em;

  &_control {
    border: 0;
    color: #fff;
    background: transparent;
    font-size: 1em;
    outline: none;

    @mixin placeholder {
      color: #fff;
    }
  }
}
