@import "../../style";

.forecast {
  display: flex;
  flex-direction: column;

  &_days {
    display: flex;
    flex-direction: column;

    @media (--tablet-viewport) {
      flex-direction: row;
    }
  }

  &_settings {
    padding: 0.5em;
    text-align: right;

    &_button {
      background: transparent;
      border: 0;
      text-transform: uppercase;
      font-size: 0.8em;
      padding: 3px 8px;

      color: #888;

      &:disabled,
      &:hover {
        color: #fff;
      }
    }
  }
}
