@import "../../style";

.location {
  margin-bottom: 20vh;

  &_header {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    flex-wrap: wrap;
    margin-top: 3em;

    @media (--tablet-viewport) {
      flex-direction: row;
    }
  }

  &_head {
    font-size: 4em;
    margin-top: 0;
    margin-bottom: 0;
  }

  &_refresh {
    background: transparent;
    border: 0;
    padding: 0;
    color: var(--color-link);
    cursor: pointer;

    @media (--tablet-viewport) {
      margin-right: 1em;
    }

    &:disabled,
    &:hover {
      color: var(--color-link-hover);
    }
  }

  &_time {
    font-style: italic;
  }
}
