@font-face {
  font-family: 'Quicksand';
  font-display: swap;
  src: url('./QuicksandBook-Regular.eot');
  src: url('./QuicksandBook-Regular.woff2') format('woff2'),
       url('./QuicksandBook-Regular.woff') format('woff'),
       url('./QuicksandBook-Regular.ttf') format('truetype'),
       url('./QuicksandBook-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  font-display: swap;
  src: url('./QuicksandLight-Regular.eot');
  src: url('./QuicksandLight-Regular.woff2') format('woff2'),
       url('./QuicksandLight-Regular.woff') format('woff'),
       url('./QuicksandLight-Regular.ttf') format('truetype'),
       url('./QuicksandLight-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: normal;
}
