@import "../../style";

.weather {
  @mixin page;

  @lost gutter 24px;

  &_currently {
    @lost gutter 24px;

    lost-column: 1/1;

    @media (--tablet-wide-viewport) {
      lost-column: 1/3;
    }
  }

  &_extra {
    lost-column: 1/1;

    @media (--tablet-wide-viewport) {
      lost-column: 2/3;
    }
  }

  &_loader {
    margin: 0 50%;
  }
}
