@import "./index.css";

:global {
  * {
    box-sizing: border-box;
  }

  :--common-font {
    color: var(--color);
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    line-height: var(--line-height);
    letter-spacing: var(--size-letter-spacing);
  }

  :--form {
    @mixin transition;

    font-size: var(--form-font-size);
    line-height: var(--form-line-height);
  }

  :--heading {
    color: var(--color-bold);
    line-height: 1.5;
    font-weight: var(--header-font-weight);
  }

  html {
    height: 100%;
  }

  body {
    height: 100%;
    margin: 0;
    /* background-image:
      url('./../images/overlay.png'),
      linear-gradient(60deg, color(var(--color-accent1) alpha(50%)) 5%, color(var(--color-accent2) alpha(35%))),
      url('./../images/bg1.jpg');
    background-repeat:		repeat,			no-repeat,			no-repeat;
    background-size:		100px 100px,	cover,				cover;
    background-position:	top left,		center center,		bottom center;
    background-attachment:	fixed,			fixed,				fixed; */

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./../images/bg1.jpg');
    background-color: var(--color-bg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed;

    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    /* -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased; */
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
  }

  #app {
    height: 100%;
  }
}
